services:
  slurmjupyter:
        build:
            context: jupyter
            dockerfile: Dockerfile
        image: stevenrbrandt/slurm-jupyter
        container_name: headnode
        hostname: slurmjupyter
        #user: admin
        user: root
        # entrypoint: sleep infinity
        ports:
            - 9443:443
        volumes:
            - shared-vol:/home
            - ./etc/ssl:/install
            - ./users:/users
  slurmmaster:
        build:
            context: master
            dockerfile: Dockerfile
        image: stevenrbrandt/slurm-master
        container_name: master
        hostname: slurmmaster
        user: admin
        volumes:
                - shared-vol:/home
        ports:
                - 6817:6817
                - 6818:6818
                - 6819:6819
  slurmnode1:
        build:
            context: node
            dockerfile: Dockerfile
        image: stevenrbrandt/slurm-node
        container_name: node1
        hostname: slurmnode1
        user: admin
        volumes:
                - shared-vol:/home
        links:
                - slurmmaster
  slurmnode2:
        image: stevenrbrandt/slurm-node
        container_name: node2
        hostname: slurmnode2
        user: admin
        volumes:
                - shared-vol:/home
        links:
                - slurmmaster
  slurmnode3:
        image: stevenrbrandt/slurm-node
        container_name: node3
        hostname: slurmnode3
        user: admin
        volumes:
                - shared-vol:/home
        links:
                - slurmmaster
volumes:
        shared-vol:

